/* RESET */
body {
    margin: 0;
    font-family: Arial;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 👈 ESTA ES LA CLAVE */

    background: linear-gradient(135deg, #667eea, #764ba2, #a18cd1, #fbc2eb);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

/* ANIMACIÓN DEL FONDO */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* TEXTO DE FONDO "TE AMO" */
.fondo-texto {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    pointer-events: none;
    z-index: 0;
    opacity: 0.08;
    font-size: 40px;
    color: white;
    transform: rotate(-30deg);
    animation: moverTexto 20s linear infinite;
}

@keyframes moverTexto {
    from {
        transform: translate(0, 0) rotate(-30deg);
    }

    to {
        transform: translate(-200px, -200px) rotate(-30deg);
    }
}

/* LOGIN */
.login-box {
    background: rgba(175, 109, 199, 0.9);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(227, 130, 130, 0.2);
}

/* INPUTS */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BOTONES */
button {
    width: 100%;
    padding: 10px;
    background: #c183e0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #f39df4;
}

/* HEADER */
header {
    position: fixed;
    /* 👈 esto lo pega arriba */
    top: 0;
    left: 0;
    width: 100%;
    background: #c183e0;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 2;
}

.logout {
    position: absolute;
    right: 20px;
    top: 15px;
}

.logout {
    position: absolute;
    right: 10px;
    top: 15px;
    background: rgb(112, 216, 216);
    color: #2e3a6f;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
}

/* CONTENEDOR GENERAL */
.contenedor-galeria {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* GALERÍA */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

/* IMÁGENES */
.galeria img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* HOVER */
.galeria img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* FOTO PRINCIPAL */
.grande {
    grid-column: span 3;
    height: 180px;
}

.nota {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;

    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    width: 320px;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nota p {
    color: black;
    margin: 0;
    width: 600px;
}

.nota {
    display: block;
    width: 600px;
    max-width: 600px;
}